.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-img-top {
  width: 100%;
  height: 200px;  /* Cố định chiều cao của ảnh */
  object-fit: cover;  /* Đảm bảo ảnh không bị kéo dãn, mà sẽ cắt bớt nếu quá kích thước */
}

.card-body {
  font-family: 'Arial', sans-serif;  /* Cố định font cho phần nội dung */
}

.card-title {
  font-size: 1.3rem;  /* Cố định kích thước font của tiêu đề */
  font-weight: bold;  /* Làm cho tiêu đề đậm */
}

.card-text {
  font-size: 1rem;  /* Cố định kích thước font cho văn bản */
}
